.container{ 
    /* background-image: linear-gradient(45deg, #ffae00 50%, rgb(255, 255, 255) 50%);  */
    
    background-image:

 linear-gradient(135deg, #ffb501 0%, #f5f90e 100%);

 clip-path: circle(65% at 0 49%);

  bottom:0;
  left:-50%;
  position:fixed;
  right:-50%;
  top:0;
  text-decoration: none; 

  /* z-index:-100;  */
  
}




.contain{
    background-image: url(../image/foodCreate.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
     height: 100%;
    width: 100%;   
    top: 0;
    left: 0;

}

.all{
     float:right;
}

.containR{
 
    margin-right: 100px;
    align-self: center;
    width: 550px;
    height: 420px;
    background: #ffffff;
    overflow: visible;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24); */
    margin-top: 0px;
    padding: 35px;
}


.btn{
  margin-right: 150px;
}


.containR h1{
font-family: 'DM Serif Display';
color: #ffb501;
font-size: 30px;
text-decoration: none;
letter-spacing: 1px;
margin-top: -15px;
}

.containR form{
  text-align: left;
  margin-left: 0px;
}
.link button {

    padding: 1.3em 2em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    /* font-weight: 500; */
    color: #015d3a;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
 .link button:hover {
    background-color: #015d3a;
    box-shadow: 0px 3px 7px rgba(46, 229, 156, 0.163);
    color: #fff;
    transform: translateY(-3px);
  }
  
 .link button:active {
    transform: translateY(-1px);
  }

.sInput label 				 {
  color:#3f3f3f; 
  font-size:12px;
  font-weight: 500;
text-transform: uppercase;
  pointer-events:none;
  font-family:'Quicksand';
  line-height: 0;
  
}
.sInput input		{
border-bottom: solid 1px orange;
border-radius: 0px;
width: 100%;
font-size: 12px;
margin-bottom: 5px;
outline: none;
background: transparent;
padding: 0;

  
  
}

input:hover, input:focus {
  box-shadow: 0 0 0em orange;
}


input[type="range"]{
  width: 100%;
  height: 0.5px;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(255, 198, 93);
  line-height: 0;

  outline: none;
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background-color: orange;
  border-radius: 50%;
  cursor: pointer;
}

.data {
  font-family: 'DM Serif Display';

  margin-top:0px;
  color: orange;
  padding-left: 3px;
  border:hidden;
  font-size: 18px;


  
}


.error{
  font-family:'Quicksand';
  font-size: 13px;
  color: #ff2028;
  margin-top: -3px;
 
}




.diet{
  display:flex;
}

.diet p{
  color:#015d3a;
  font-size:12px;
  text-transform: uppercase;
  pointer-events:none;
  font-family:'Quicksand';
  line-height: 0;
  font-weight: 500;

}

.diet button{
  color:#3f3f3f;
  border: none;

  text-transform: uppercase;
  font-size: 12px;
  background: transparent;
  transition: all 0.3s;
}

.diet button:hover{
  color: #ff2028;
}


.create {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create  button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #015d3a;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.create  button:hover {
  background-color: #015d3a;
  box-shadow: 0px 15px 20px rgba(46, 229, 156, 0.163);
  color: #fff;
  transform: translateY(-3px);
}

.create button:active {
  transform: translateY(-1px);
}


.sInput select {
  /* border-radius: 45px;
  font-family:'Quicksand';
  border-bottom: solid 1px orange;
  outline: none;
  background: transparent;
  padding: 0; 
display: inline-block;
box-shadow: 0;
cursor: pointer;
padding: 10px 15px;
outline: 0;


 background: #fff;
color:  #015d3a;
appearance:none; */


display: inline-block;
cursor: pointer;
padding: 10px 10px;
height: 40px;
outline: 0; 
border: 0;
margin-left: 10px;
text-align: center;
border-radius: 45px;
background: transparent;
color: #ffffff;
font-size: 12px;
color: #015d3a;
 text-transform: uppercase;
font-weight: 500;
font-family: 
'Quicksand', sans-serif;
box-shadow: 0;
transition: all 0.25s ease;


}