.container{ 
    /* background-image: linear-gradient(45deg, #ffae00 50%, rgb(255, 255, 255) 50%);  */
    
  



height:100vh;
 margin:0;
 background-image:radial-gradient(at  top left,#ffb501  36%,#f5f90e 67%, transparent 5%);
 background-size:120% 54%;
 background-repeat:no-repeat;   




 


  
}

.padre{
    display: grid;
    justify-content: center;
    align-items: center;

    background-image: url(../image/fooddetail.png);
    background-size: cover;
    background-position: center center;
   
    position: absolute;
     height: 100%;
    width: 100%;   
    top: 0;
    left: 0;
}

.btn{
    align-self: center;
}
.link button {

    padding: 1.3em 2em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    /* font-weight: 500; */
    color: #015d3a;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 50px;
  }
  
 .link button:hover {
    background-color: #015d3a;
    box-shadow: 0px 3px 7px rgba(46, 229, 156, 0.163);
    color: #fff;
    transform: translateY(-3px);
  }
  
 .link button:active {
    transform: translateY(-1px);
  }


.containD{

    align-self: center;
    width: 1000px;
    height: 680px;
    background: #ffffff;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
    margin-top: 100px;
  
 
}
.containImage img{
    object-fit: cover;
    height: 200px;
    width: 950px;
    border-radius: .5rem;
    padding: 10px;

}

.details{
    position: absolute;
    margin-top: -35px;
    text-decoration: none;  
    justify-content: center;
    align-items: center;
    width: 980px;
    padding: 10px;



}

.details h1{
font-family: 'DM Serif Display';
color: #ffb501;
font-size: 30px;
text-decoration: none;
letter-spacing: 1px;

}

/* .containText{
display: flex;
   
} */
.containText .detailsOne{
float: left;
width: 50%;
text-align: justify;
margin: 10px;
padding-right: 10px;
border-right: 1px solid #b9b9b9;

}


.containText .detailsOne p{
    font-family:'Quicksand';
    font-size: 11px;
    color: #3f3f3f;
    margin-top: -10px;

  
}

.containText .detailsOne  h5{
    font-family:'Quicksand';
    color: #343434;
    font-size: 13px;
    margin-top: -10px;
   
  
}

.containText .detailsTwo{

    text-align: justify;
    padding: 10px;


  
    
    }

    .containText .detailsTwo p{
        font-family:'Quicksand';
        font-size: 11px;
        color: #3f3f3f;
        margin-top: -10px;
    
        
    }
    
    .containText .detailsTwo h5{
        font-family:'Quicksand';
        color: #343434;
        font-size: 13px;
        margin-top: -10px;
       
    }
    