.container{ 
      /* background-image: linear-gradient(45deg, #ffae00 50%, rgb(255, 255, 255) 50%);  */
      
      background-image:
  
   linear-gradient(135deg, #ffb501 0%, #f5f90e 100%);
 
   clip-path: circle(65% at 0 49%);
  
    bottom:0;
    left:-50%;
    position:fixed;
    right:-50%;
    top:0;
    text-decoration: none; 

    /* z-index:-100;  */
    
}

.contain{
    background-image: url(../image/food_landingPage.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
     height: 100%;
    width: 100%;   
    top: 0;
    left: 0;

}

.text{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    justify-content: center;
  align-items: center;
}

.text h1{
    font-family: 'DM Serif Display';
    font-size: 120px;
    letter-spacing: 5px;
    color: #ff2028;
    line-height:0px;
}

.text p{
    font-family:  'Quicksand';
    color:#005d3e;
    font-size: 16px;
    letter-spacing: 2px;
    
    
}

.text button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #015d3a;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
 .text button:hover {
    background-color: #015d3a;
    box-shadow: 0px 15px 20px rgba(46, 229, 156, 0.163);
    color: #fff;
    transform: translateY(-3px);
  }
  
 .text button:active {
    transform: translateY(-1px);
  }